@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

*{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration: none;}

.subject{
  width:866px;
  height: 100%;
  background: #F00;
  float: left;
  margin-top: 10px;
  h2{
    font-size: 30px;
    color:#555555;
  }
}
.date{
  width: 866px;
  height: 138px;
  margin-top:10px;
  background: #0f7e65;
  h4{
    font-size: 20px;
    margin-left:15px;
  }
  .check{
    width: 313px;
    height: 55px;
    display: inline-block;
    position: relative;
    border: 1px #32965b solid;
    strong{
      padding: 0 10px 0 45px;
      display: block;
      font-size: 20px;
      line-height: 40px;
      color: ##32965b;
      text-align: left;
      font-weight: normal;
      span{

      }
    }




  }
}
.room{
  width: 866px;
  height: 138px;
  margin-top:10px;
  background: #e6ec4b;
  h4{
    font-size: 20px;
    margin-left:15px;
  }
}
.imfor{
  width: 866px;
  height: 488px;
  margin-top:10px;
  background: #662d91;
  h4{
    font-size: 20px;
    margin-left:15px;
  }
}
.pay{
  width: 866px;
  height: 140px;
  margin-top:10px;
  background: #d35f19;
  h4{
    font-size: 20px;
    margin-left:15px;
  }
}
