@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

*{margin:0; padding:0;}
ul li{list-style:none;}
a{text-decoration: none;}



.picture4{
  width: 1000px;
  height: 1600px;
  float: left;
  margin-top: 16px;
  background: #662d91;
  .text{
    width: 1000px;
    height: 60px;
    background: #ff0;
    .aa{
      width: 200px;
      height: 50px;
      background: #f00;
      float: left;
      .icon_1{
        width: 24px;
        height: 24px;
        background: #e99;
        display: block;
        float: left;
      }
      .aainfor{
        float: left;
        font-size: 16px;
        margin-left: 3px;
      }
    }
    button{
      width:90px;
      height: 40px;
      float: right;
      color:#0f7e65;
      font-size: 16px;
      background: none;
      border: 1px solid #0f7e65;
    }
  }
  .list{
    width: 1000px;
    height: 1480px;
    background: #ec008c;
    .ques_1{
      width:1000px;
      height: 180px;
      margin-bottom: 5px;
      background: #0ec9f8;
      border: 1px solid #e1e1e1;
      .ti{
      h2{
        color: #F00;
        font-size:17px;
        float: left;
        margin-top: 10px;
        margin-left: 5px;
      }
      h4{
        font-size: 17px;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
      }
      span{
        float: right;
        margin-top: 10px;
        margin-right: 5px;
      }
    }
      .geol{
        width: 1000px;
        height: 100px;
        float: left;
        margin-top: 10px;
        margin-left: 5px;
      }
      .text_info{
        width: 500px;
        height: 100px;
        p{
          float: left;
          font-size: 14px;
          color: #d7d7d7;
          margin-left: 5px;
        }
      }
      .spot{
        width: 60px;
        height: 20px;
        background: #7d4900;
        float: right;
        .icon_2{
          width: 20px;
          height: 18px;
          background: #e38c13;
          display: block;
          float: left;
        }
        .num{
          float: left;
          font-size: 13px;
          margin-left: 5px;
        }
      }
    }
  }
}
