@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

*{margin:0; padding:0;}
html,body{height:100%;}
ul{list-style:none;}
a{text-decoration: none;}

.photo img{
  padding-top: 10px;
}
.title{
  margin-left: 350px;
  margin-top: 30px;
}
.title span{
  font-weight: bold;
  text-decoration: underline;
}
.title i{
  font-style:normal;
}
.sub{
  width: 250px;
  height: 700px;
  margin-top: 15px;
  margin-left: 350px;
  float: left;
}
.sub span{
  display: block;
  margin-bottom: 1px;
  border: 1px #32965b solid;
  width: 140px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  color: #32965b;
}
.sub .in{
  margin-bottom: 1px;
  border: 3px #32965b solid;
  width: 140px;
  height: 33px;
  text-align: center;
  line-height: 28px;
  color: #32965b;
}
.picture ul{
  width: 1000px;
  height: 1600px;
  background: #FF0;
  float: left;
  margin-top: 10px;
}
.picture li{
  width: 390px;
  height: 250px;
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}
.picture img{
  padding-left: 10px;
  padding-top: 10px;


}
