@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 3, assets\less\common.less */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* line 4, assets\less\common.less */
ul li {
  list-style: none;
}
/* line 5, assets\less\common.less */
a {
  text-decoration: none;
}
/* line 3, assets\less\style.less */
* {
  margin: 0;
  padding: 0;
}
/* line 4, assets\less\style.less */
ul {
  list-style: none;
}
/* line 5, assets\less\style.less */
a {
  text-decoration: none;
}
/* line 8, assets\less\style.less */
.main .nav {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
}
/* line 12, assets\less\style.less */
.main .nav .logo {
  text-align: center;
  width: 1200px;
  height: 131px;
}
/* line 16, assets\less\style.less */
.main .nav .logo a {
  display: block;
}
/* line 18, assets\less\style.less */
.main .nav .logo a img {
  width: 131px;
  height: 131px;
}
/* line 24, assets\less\style.less */
.main .nav .menu {
  width: 1200px;
  height: 50px;
  margin-top: 19px;
}
/* line 28, assets\less\style.less */
.main .nav .menu ul {
  position: relative;
}
/* line 30, assets\less\style.less */
.main .nav .menu ul li {
  width: 274px;
  height: 50px;
  border: 1px #32965b solid;
  display: inline-block;
  color: #32965b;
  list-style: none;
}
/* line 42, assets\less\style.less */
.main .nav .menu ul .me1 a {
  font-size: 13px;
  display: block;
  position: absolute;
  top: 15px;
  left: 35px;
}
/* line 49, assets\less\style.less */
.main .nav .menu ul .me1::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/location.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 14px;
  left: 10px;
  content: "";
}
/* line 59, assets\less\style.less */
.main .nav .menu ul .me1::after {
  width: 12px;
  height: 7px;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 245px;
  top: 22px;
  content: "";
}
/* line 71, assets\less\style.less */
.main .nav .menu ul .me2 a {
  font-size: 13px;
  display: block;
  position: absolute;
  top: 15px;
  left: 316px;
}
/* line 78, assets\less\style.less */
.main .nav .menu ul .me2::before {
  width: 20px;
  height: 16px;
  background-image: url(../images/home.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 17px;
  left: 290px;
  content: "";
}
/* line 88, assets\less\style.less */
.main .nav .menu ul .me2::after {
  width: 12px;
  height: 7px;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 525px;
  top: 22px;
  content: "";
}
/* line 100, assets\less\style.less */
.main .nav .menu ul .me3 a {
  font-size: 13px;
  display: block;
  position: absolute;
  top: 15px;
  left: 603px;
}
/* line 107, assets\less\style.less */
.main .nav .menu ul .me3::before {
  width: 25px;
  height: 20px;
  background-image: url(../images/dinner.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 572px;
  content: "";
}
/* line 117, assets\less\style.less */
.main .nav .menu ul .me3::after {
  width: 12px;
  height: 7px;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 810px;
  top: 22px;
  content: "";
}
/* line 129, assets\less\style.less */
.main .nav .menu ul .me4 a {
  font-size: 13px;
  display: block;
  position: absolute;
  top: 15px;
  left: 880px;
}
/* line 136, assets\less\style.less */
.main .nav .menu ul .me4::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/speech.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 17px;
  left: 855px;
  content: "";
}
/* line 146, assets\less\style.less */
.main .nav .menu ul .me4::after {
  width: 12px;
  height: 7px;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 1090px;
  top: 22px;
  content: "";
}
/* line 157, assets\less\style.less */
.main .nav .menu ul .search {
  width: 80px;
  height: 50px;
  background: #32965b;
  float: right;
}
/* line 162, assets\less\style.less */
.main .nav .menu ul .search img {
  padding-top: 13px;
  padding-left: 25px;
}
/* line 170, assets\less\style.less */
.main .slide_menu {
  width: 1113px;
  height: 200px;
  background: #FF0;
  position: absolute;
  z-index: 1;
  left: 352px;
}
/* line 177, assets\less\style.less */
.main .slide_menu .sl_m {
  width: 272px;
  height: 200px;
  border: 1px #32965b solid;
}
/* line 183, assets\less\style.less */
.main .mainy {
  max-width: 1900px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 188, assets\less\style.less */
.main .mainy img {
  height: 100%;
  margin-top: 6px;
}
/* line 192, assets\less\style.less */
.main .mainy .sun {
  top: 95px;
  display: block;
  width: 440px;
  height: 4px;
  background: #FFF;
}
/* line 199, assets\less\style.less */
.main .mainy strong {
  position: absolute;
  top: 98px;
  color: #FFF;
  font-size: 48px;
  margin-left: 340px;
}
/* line 206, assets\less\style.less */
.main .mainy span {
  position: absolute;
  top: 148px;
  color: #FFF;
  font-size: 48px;
  margin-left: 340px;
}
/* line 213, assets\less\style.less */
.main .mainy p {
  position: absolute;
  top: 220px;
  color: #FFF;
  font-size: 15px;
  margin-left: 340px;
}
/* line 220, assets\less\style.less */
.main .mainy a {
  width: 132px;
  height: 30px;
  position: absolute;
  top: 310px;
  margin-left: 340px;
  color: #FFF;
  text-decoration: underline;
  font-size: 15px;
}
/* line 231, assets\less\style.less */
.main .sectional {
  width: 100%
    height:100%;
}
/* line 234, assets\less\style.less */
.main .sectional .depth {
  width: 100%;
  height: 500px;
}
/* line 237, assets\less\style.less */
.main .sectional .depth h1 {
  text-align: center;
  color: #32965b;
  padding-top: 50px;
}
/* line 242, assets\less\style.less */
.main .sectional .depth p {
  text-align: center;
  color: #32965b;
}
/* line 246, assets\less\style.less */
.main .sectional .depth .slide {
  margin-top: 40px;
  position: relative;
}
/* line 249, assets\less\style.less */
.main .sectional .depth .slide ul {
  width: 1206px;
  position: relative;
  margin: 0 auto;
}
/* line 253, assets\less\style.less */
.main .sectional .depth .slide ul::after {
  display: block;
  content: "";
  clear: both;
}
/* line 259, assets\less\style.less */
.main .sectional .depth .slide li {
  float: left;
  margin-left: 12px;
}
/* line 263, assets\less\style.less */
.main .sectional .depth .slide .prev {
  top: 42%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: 0;
  position: absolute;
  left: -9px;
}
/* line 270, assets\less\style.less */
.main .sectional .depth .slide .prev img {
  width: 25px;
  height: 25px;
  left: 0;
}
/* line 276, assets\less\style.less */
.main .sectional .depth .slide .next {
  top: 42%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: 0;
  position: absolute;
  right: -9px;
}
/* line 283, assets\less\style.less */
.main .sectional .depth .slide .next img {
  width: 25px;
  height: 25px;
}
/* line 290, assets\less\style.less */
.main .sectional .depth2 {
  height: 900px;
}
/* line 292, assets\less\style.less */
.main .sectional .depth2 h1 {
  text-align: center;
  color: #32965b;
  padding-top: 50px;
}
/* line 297, assets\less\style.less */
.main .sectional .depth2 p {
  text-align: center;
  color: #32965b;
}
/* line 301, assets\less\style.less */
.main .sectional .depth2 .d2_sec1 {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding-top: 47px;
}
/* line 306, assets\less\style.less */
.main .sectional .depth2 .d2_sec1 li {
  float: left;
  margin-left: 13px;
  margin-bottom: 10px;
}
/* line 311, assets\less\style.less */
.main .sectional .depth2 .d2_sec1 .mint {
  position: relative;
}
/* line 313, assets\less\style.less */
.main .sectional .depth2 .d2_sec1 .mint h3 {
  font-size: 30px;
  color: #FFF;
  position: absolute;
  top: 80px;
  margin-left: 210px;
}
/* line 320, assets\less\style.less */
.main .sectional .depth2 .d2_sec1 .mint p {
  position: absolute;
  font-size: 14px;
  color: #FFF;
  top: 120px;
  margin-left: 120px;
}
/* line 327, assets\less\style.less */
.main .sectional .depth2 .d2_sec1 .mint button {
  height: 40px;
  position: absolute;
  font-size: 15px;
  color: #FFF;
  top: 170px;
  left: 270px;
  border: 2px #FFF solid;
  background-color: transparent;
}
/* line 339, assets\less\style.less */
.main .sectional .depth2 .d2_sec2 {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding-top: 47px;
}
/* line 344, assets\less\style.less */
.main .sectional .depth2 .d2_sec2 li {
  float: left;
  margin-left: 13px;
  margin-bottom: 10px;
}
/* line 350, assets\less\style.less */
.main .sectional .depth2 .d2_sec2 .bada .bada_text {
  background: #ebebeb;
  padding: 15px;
  display: block;
  overflow: hidden;
}
/* line 355, assets\less\style.less */
.main .sectional .depth2 .d2_sec2 .bada .bada_text p {
  font-size: 13px;
  color: #000;
  text-align: left;
}
/* line 360, assets\less\style.less */
.main .sectional .depth2 .d2_sec2 .bada .bada_text .i_con {
  display: block;
}
/* line 363, assets\less\style.less */
.main .sectional .depth2 .d2_sec2 .bada .bada_text .i_con .map_icon span {
  font-size: 11px;
  padding-left: 20px;
  margin-left: 10px;
  background-image: url(../images/pla_.png);
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 374, assets\less\style.less */
.main .sectional .depth2 .d2_sec2 .bada .bada_text .i_con .people .people_text h6 {
  margin-top: 5px;
  float: left;
  font-size: 12px;
  font-weight: normal;
}
/* line 380, assets\less\style.less */
.main .sectional .depth2 .d2_sec2 .bada .bada_text .i_con .people .people_text .p_icon {
  float: right;
}
/* line 382, assets\less\style.less */
.main .sectional .depth2 .d2_sec2 .bada .bada_text .i_con .people .people_text .p_icon img {
  width: 8px;
  height: 8px;
}
/* line 386, assets\less\style.less */
.main .sectional .depth2 .d2_sec2 .bada .bada_text .i_con .people .people_text .p_icon span {
  font-size: 8px;
}
/* line 397, assets\less\style.less */
.main .sectional .depth3 {
  height: 700px;
  text-align: center;
}
/* line 400, assets\less\style.less */
.main .sectional .depth3 h1 {
  text-align: center;
  color: #32965b;
  padding-top: 50px;
}
/* line 405, assets\less\style.less */
.main .sectional .depth3 .worldmap {
  width: 1900px;
  height: 500px;
  margin-top: 10px;
}
/* line 413, assets\less\style.less */
.main .footer_main {
  width: 100%;
  height: 200px;
  background: #32965b;
}
/* line 417, assets\less\style.less */
.main .footer_main .fooimg {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
}
/* line 421, assets\less\style.less */
.main .footer_main .fooimg .right_up {
  width: 1200px;
  height: 100px;
}
/* line 424, assets\less\style.less */
.main .footer_main .fooimg .right_up .one {
  width: 600px;
  height: 100px;
  float: left;
}
/* line 429, assets\less\style.less */
.main .footer_main .fooimg .right_up .two {
  width: 600px;
  height: 100px;
  float: left;
}
/* line 433, assets\less\style.less */
.main .footer_main .fooimg .right_up .two img {
  width: 115px;
  height: 100px;
  float: right;
}
/* line 440, assets\less\style.less */
.main .footer_main .fooimg .right_down {
  width: 1200px;
  height: 100px;
}
/* line 443, assets\less\style.less */
.main .footer_main .fooimg .right_down .sns {
  width: 600px;
  height: 100px;
  float: left;
}
/* line 447, assets\less\style.less */
.main .footer_main .fooimg .right_down .sns .insta {
  width: 250px;
  height: 55px;
}
/* line 450, assets\less\style.less */
.main .footer_main .fooimg .right_down .sns .insta img {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-left: 30px;
}
/* line 458, assets\less\style.less */
.main .footer_main .fooimg .right_down .geol {
  width: 600px;
  height: 100px;
  float: left;
}
/* line 462, assets\less\style.less */
.main .footer_main .fooimg .right_down .geol p {
  width: 205px;
  height: 45px;
  font-size: 14px;
  float: right;
  color: #FFF;
  text-align: center;
}
/* line 3, assets\less\hotel.less */
* {
  margin: 0;
  padding: 0;
}
/* line 4, assets\less\hotel.less */
ul {
  list-style: none;
}
/* line 5, assets\less\hotel.less */
a {
  text-decoration: none;
}
/* line 7, assets\less\hotel.less */
.hwa {
  padding-top: 10px;
}
/* line 10, assets\less\hotel.less */
.hwa img {
  width: 100%;
}
/* line 13, assets\less\hotel.less */
.mini {
  width: 866px;
  height: 1500px;
  background: #FF0;
  float: left;
  margin-top: 10px;
}
/* line 23, assets\less\hotel.less */
.mini img {
  padding-top: 10px;
}
/* line 26, assets\less\hotel.less */
.mini .nex {
  background: #000;
  top: 135px;
  right: 0px;
}
/* line 31, assets\less\hotel.less */
.slideima img {
  width: 212px;
  height: 95px;
}
/* line 35, assets\less\hotel.less */
.main_text h3 {
  font-size: 24px;
  color: #807878;
  margin-top: 10px;
}
/* line 40, assets\less\hotel.less */
.main_text h5 {
  font-size: 18px;
  margin-top: 10px;
}
/* line 44, assets\less\hotel.less */
.main_text p {
  font-size: 15px;
  margin-top: 30px;
}
/* line 48, assets\less\hotel.less */
.main_text h6 {
  font-size: 18px;
  margin-top: 70px;
  color: #c5d7c3;
}
/* line 55, assets\less\hotel.less */
.info {
  width: 866px;
  height: 298px;
  background: #c8f0c5;
  margin-top: 50px;
}
/* line 60, assets\less\hotel.less */
.info h2 {
  color: #32965b;
}
/* line 63, assets\less\hotel.less */
.info .ho {
  width: 400px;
  height: 250px;
  float: left;
  margin-left: 25px;
  background: #F00;
}
/* line 69, assets\less\hotel.less */
.info .ho .ing {
  width: 400px;
  height: 94px;
  margin-top: 15px;
  background: #CCC;
}
/* line 75, assets\less\hotel.less */
.info .ho .check {
  width: 400px;
  height: 94px;
  margin-top: 15px;
  background: #f9ad81;
}
/* line 83, assets\less\hotel.less */
.info .fac {
  width: 380px;
  height: 250px;
  float: left;
  margin-left: 22px;
  background: #ed145b;
}
/* line 92, assets\less\hotel.less */
.but {
  width: 866px;
  height: 50px;
  margin-top: 12px;
  background: #FF0;
}
/* line 97, assets\less\hotel.less */
.but button {
  width: 140px;
  height: 50px;
  font-size: 20px;
  float: right;
  background: #32965b;
  border: 1px solid #000;
}
/* line 3, assets\less\hotel2.less */
* {
  margin: 0;
  padding: 0;
}
/* line 4, assets\less\hotel2.less */
ul {
  list-style: none;
}
/* line 5, assets\less\hotel2.less */
a {
  text-decoration: none;
}
/* line 7, assets\less\hotel2.less */
.subject {
  width: 866px;
  height: 100%;
  background: #F00;
  float: left;
  margin-top: 10px;
}
/* line 13, assets\less\hotel2.less */
.subject h2 {
  font-size: 30px;
  color: #555555;
}
/* line 18, assets\less\hotel2.less */
.date {
  width: 866px;
  height: 138px;
  margin-top: 10px;
  background: #0f7e65;
}
/* line 23, assets\less\hotel2.less */
.date h4 {
  font-size: 20px;
  margin-left: 15px;
}
/* line 27, assets\less\hotel2.less */
.date .check {
  width: 313px;
  height: 55px;
  display: inline-block;
  position: relative;
  border: 1px #32965b solid;
}
/* line 33, assets\less\hotel2.less */
.date .check strong {
  padding: 0 10px 0 45px;
  display: block;
  font-size: 20px;
  line-height: 40px;
  color: #32965b;
  text-align: left;
  font-weight: normal;
}
/* line 41, assets\less\hotel2.less */
.date .check strong span {
  display: block;
}
/* line 47, assets\less\hotel2.less */
.room {
  width: 866px;
  height: 138px;
  margin-top: 10px;
  background: #e6ec4b;
}
/* line 52, assets\less\hotel2.less */
.room h4 {
  font-size: 20px;
  margin-left: 15px;
}
/* line 57, assets\less\hotel2.less */
.imfor {
  width: 866px;
  height: 488px;
  margin-top: 10px;
  background: #662d91;
}
/* line 62, assets\less\hotel2.less */
.imfor h4 {
  font-size: 20px;
  margin-left: 15px;
}
/* line 67, assets\less\hotel2.less */
.pay {
  width: 866px;
  height: 140px;
  margin-top: 10px;
  background: #d35f19;
}
/* line 72, assets\less\hotel2.less */
.pay h4 {
  font-size: 20px;
  margin-left: 15px;
}
/* line 77, assets\less\hotel2.less */
button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: #FFF;
  float: right;
  background: #32965b;
  border: 1px solid #32965b;
}
