@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 3, assets\less\subpage.less */
* {
  margin: 0;
  padding: 0;
}
/* line 4, assets\less\subpage.less */
a {
  text-decoration: none;
}
/* line 6, assets\less\subpage.less */
.header {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  background: #FF0;
}
/* line 11, assets\less\subpage.less */
.header .logo1 {
  text-align: center;
  width: 1200px;
  height: 131px;
  background: #06f;
}
/* line 16, assets\less\subpage.less */
.header .logo1 a {
  display: block;
}
/* line 18, assets\less\subpage.less */
.header .logo1 a img {
  width: 131px;
  height: 131px;
}
/* line 24, assets\less\subpage.less */
.header .menu1 {
  width: 1200px;
  height: 50px;
  background: #f00;
  margin-top: 19px;
}
/* line 29, assets\less\subpage.less */
.header .menu1 ul {
  position: relative;
}
/* line 31, assets\less\subpage.less */
.header .menu1 ul li {
  width: 274px;
  height: 48px;
  border: 1px #32965b solid;
  display: inline-block;
  color: #32965b;
  list-style: none;
}
/* line 41, assets\less\subpage.less */
.header .menu1 ul .m1 a {
  font-size: 13px;
  display: block;
  position: absolute;
  top: 15px;
  left: 35px;
}
/* line 48, assets\less\subpage.less */
.header .menu1 ul .m1::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/location.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 14px;
  left: 10px;
  content: "";
}
/* line 58, assets\less\subpage.less */
.header .menu1 ul .m1::after {
  width: 12px;
  height: 7px;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 245px;
  top: 22px;
  content: "";
}
/* line 70, assets\less\subpage.less */
.header .menu1 ul .m2 a {
  font-size: 13px;
  display: block;
  position: absolute;
  top: 15px;
  left: 316px;
}
/* line 77, assets\less\subpage.less */
.header .menu1 ul .m2::before {
  width: 20px;
  height: 16px;
  background-image: url(../images/home.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 17px;
  left: 290px;
  content: "";
}
/* line 87, assets\less\subpage.less */
.header .menu1 ul .m2::after {
  width: 12px;
  height: 7px;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 525px;
  top: 22px;
  content: "";
}
/* line 99, assets\less\subpage.less */
.header .menu1 ul .m3 a {
  font-size: 13px;
  display: block;
  position: absolute;
  top: 15px;
  left: 603px;
}
/* line 106, assets\less\subpage.less */
.header .menu1 ul .m3::before {
  width: 25px;
  height: 20px;
  background-image: url(../images/dinner.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 572px;
  content: "";
}
/* line 116, assets\less\subpage.less */
.header .menu1 ul .m3::after {
  width: 12px;
  height: 7px;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 810px;
  top: 22px;
  content: "";
}
/* line 128, assets\less\subpage.less */
.header .menu1 ul .m4 a {
  font-size: 13px;
  display: block;
  position: absolute;
  top: 15px;
  left: 880px;
}
/* line 135, assets\less\subpage.less */
.header .menu1 ul .m4::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/speech.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 17px;
  left: 855px;
  content: "";
}
/* line 145, assets\less\subpage.less */
.header .menu1 ul .m4::after {
  width: 12px;
  height: 7px;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 1090px;
  top: 22px;
  content: "";
}
/* line 156, assets\less\subpage.less */
.header .menu1 ul .search1 {
  width: 73px;
  height: 50px;
  background-color: #32965b;
  float: right;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
}
/* line 170, assets\less\subpage.less */
.section1 {
  width: 1903px;
  background: #7da7d9;
}
/* line 173, assets\less\subpage.less */
.section1 .sub1_pic {
  width: 1903px;
  height: 563px;
  background: #7d4900;
  margin-top: 10px;
}
/* line 178, assets\less\subpage.less */
.section1 .sub1_pic img {
  width: 1903px;
  height: 563px;
}
/* line 183, assets\less\subpage.less */
.section1 .sect_cont {
  width: 1200px;
  height: 1600px;
  background: #ce4125;
  margin: 0 auto;
  margin-top: 10px;
}
/* line 189, assets\less\subpage.less */
.section1 .sect_cont .sect_menu {
  width: 250px;
  height: 1600px;
  background: #2fd0c7;
  float: left;
}
/* line 194, assets\less\subpage.less */
.section1 .sect_cont .sect_menu .sub_title {
  width: 250px;
  height: 50px;
  background: #ff00ff;
  font-size: 23px;
}
/* line 199, assets\less\subpage.less */
.section1 .sect_cont .sect_menu .sub_title span {
  font-weight: bold;
  text-decoration: underline;
}
/* line 203, assets\less\subpage.less */
.section1 .sect_cont .sect_menu .sub_title i {
  font-style: normal;
}
/* line 207, assets\less\subpage.less */
.section1 .sect_cont .sect_menu .sub_me {
  width: 250px;
  height: 250px;
  background: #2e3192;
}
/* line 213, assets\less\subpage.less */
.section1 .sect_cont .sub_list {
  width: 950px;
  height: 1600px;
  background: #5c896b;
  float: right;
}
/* line 218, assets\less\subpage.less */
.section1 .sect_cont .sub_list .qube {
  width: 450px;
  height: 345px;
  background: #71ca2f;
  margin-left: 16px;
  margin-top: 15px;
  float: left;
}
/* line 225, assets\less\subpage.less */
.section1 .sect_cont .sub_list .qube img {
  width: 392px;
  height: 250px;
  background: #790000;
  margin-left: 30px;
  margin-top: 20px;
}
/* line 232, assets\less\subpage.less */
.section1 .sect_cont .sub_list .qube p {
  text-align: center;
  margin-top: 15px;
}
/* line 237, assets\less\subpage.less */
.section1 .sect_cont .sub_list .page_remo {
  width: 400px;
  height: 40px;
  background: #1fe5de;
  float: left;
  margin-top: 50px;
  margin-left: 280px;
}
/* line 244, assets\less\subpage.less */
.section1 .sect_cont .sub_list .page_remo .number {
  width: 200px;
  height: 20px;
  background: #e2903c;
  font-size: 25px;
  margin-left: 130px;
}
/* line 251, assets\less\subpage.less */
.section1 .sect_cont .sub_list .page_remo .number a img {
  width: 12px;
  height: 19px;
  margin-left: 5px;
}
/* line 263, assets\less\subpage.less */
.footer1 {
  width: 100%;
  height: 200px;
  background: #32965b;
  float: left;
}
/* line 268, assets\less\subpage.less */
.footer1 .fooimg {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
}
/* line 272, assets\less\subpage.less */
.footer1 .fooimg .right_up {
  width: 1200px;
  height: 100px;
}
/* line 275, assets\less\subpage.less */
.footer1 .fooimg .right_up .one {
  width: 600px;
  height: 100px;
  float: left;
}
/* line 280, assets\less\subpage.less */
.footer1 .fooimg .right_up .two {
  width: 600px;
  height: 100px;
  float: left;
}
/* line 284, assets\less\subpage.less */
.footer1 .fooimg .right_up .two img {
  width: 115px;
  height: 100px;
  float: right;
}
/* line 291, assets\less\subpage.less */
.footer1 .fooimg .right_down {
  width: 1200px;
  height: 100px;
}
/* line 294, assets\less\subpage.less */
.footer1 .fooimg .right_down .sns {
  width: 600px;
  height: 100px;
  float: left;
}
/* line 298, assets\less\subpage.less */
.footer1 .fooimg .right_down .sns .insta {
  width: 250px;
  height: 55px;
}
/* line 301, assets\less\subpage.less */
.footer1 .fooimg .right_down .sns .insta img {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-left: 30px;
}
/* line 309, assets\less\subpage.less */
.footer1 .fooimg .right_down .geol {
  width: 600px;
  height: 100px;
  float: left;
}
/* line 313, assets\less\subpage.less */
.footer1 .fooimg .right_down .geol p {
  width: 205px;
  height: 45px;
  font-size: 14px;
  float: right;
  color: #FFF;
  text-align: center;
}
