@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 1, assets\less\variable.less */
h1 {
  border: 1px #F00 solid;
}
/* line 2, assets\less\mixin.less */
h1 {
  border: 1px #F00 solid;
}
/* line 1, assets\less\common.less */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* line 3, assets\less\style.less */
* {
  margin: 0;
  padding: 0;
}
/* line 4, assets\less\style.less */
html,
body {
  height: 100%;
}
/* line 5, assets\less\style.less */
ul {
  list-style: none;
}
/* line 6, assets\less\style.less */
a {
  text-decoration: none;
}
/* line 9, assets\less\style.less */
.logo {
  text-align: center;
}
/* line 12, assets\less\style.less */
.menu {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background: #FF0;
}
/* line 18, assets\less\style.less */
.me1 {
  background: url(../images/location.png) 3px center;
  background-repeat: no-repeat;
}
/* line 22, assets\less\style.less */
.menu li i {
  background: url(../images/down.png) 30px center;
  background-repeat: no-repeat;
  padding-left: 42px;
  margin-left: 114px;
}
/* line 28, assets\less\style.less */
.menu ul {
  width: 1200px;
  height: 50px;
  background: #F00;
  position: relative;
  margin: 0 auto;
}
/* line 35, assets\less\style.less */
.menu li {
  width: 274px;
  height: 50px;
  border: 1px #32965b solid;
  display: inline-block;
  padding-top: 13px;
  padding-left: 30px;
  font-size: 13px;
}
/* line 44, assets\less\style.less */
.menu a {
  color: #32965b;
}
/* line 47, assets\less\style.less */
.search {
  width: 80px;
  height: 50px;
  background: #32965b;
  float: right;
}
/* line 53, assets\less\style.less */
.search img {
  padding-top: 13px;
  padding-left: 25px;
}
