@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 1, assets\less\common.less */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* line 3, assets\less\style.less */
* {
  margin: 0;
  padding: 0;
}
/* line 4, assets\less\style.less */
html,
body {
  height: 100%;
}
/* line 5, assets\less\style.less */
ul {
  list-style: none;
}
/* line 6, assets\less\style.less */
a {
  text-decoration: none;
}
/* line 8, assets\less\style.less */
.wrap {
  width: 1900px;
  height: 3000px;
}
/* line 12, assets\less\style.less */
.nav {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
}
/* line 17, assets\less\style.less */
.logo {
  text-align: center;
}
/* line 20, assets\less\style.less */
.menu {
  width: 1200px;
  height: 50px;
  margin-top: 10px;
}
/* line 25, assets\less\style.less */
.me1 {
  background: url(../images/location.png) 3px center;
  background-repeat: no-repeat;
}
/* line 29, assets\less\style.less */
.me2 {
  background: url(../images/home.png) 3px center;
  background-repeat: no-repeat;
}
/* line 33, assets\less\style.less */
.me3 {
  background: url(../images/dinner.png) 3px center;
  background-repeat: no-repeat;
}
/* line 37, assets\less\style.less */
.me4 {
  background: url(../images/speech.png) 3px center;
  background-repeat: no-repeat;
}
/* line 41, assets\less\style.less */
.me1 i,
.me2 i,
.me4 i {
  background: url(../images/down.png) 20px center;
  background-repeat: no-repeat;
  padding-left: 42px;
  margin-left: 117px;
}
/* line 47, assets\less\style.less */
.me3 i {
  background: url(../images/down.png) center;
  background-repeat: no-repeat;
  padding-left: 42px;
  margin-left: 160px;
}
/* line 53, assets\less\style.less */
.menu ul {
  width: 1200px;
  height: 50px;
  position: relative;
  margin: 0 auto;
}
/* line 59, assets\less\style.less */
.menu li {
  width: 274px;
  height: 50px;
  border: 1px #32965b solid;
  display: inline-block;
  padding-top: 13px;
  padding-left: 30px;
  font-size: 13px;
}
/* line 68, assets\less\style.less */
.menu li span {
  color: #32965b;
}
/* line 71, assets\less\style.less */
.search {
  width: 80px;
  height: 50px;
  background: #32965b;
  float: right;
}
/* line 77, assets\less\style.less */
.search img {
  padding-top: 13px;
  padding-left: 25px;
}
/* line 81, assets\less\style.less */
.main {
  width: 100%;
  height: 463px;
  position: relative;
}
/* line 86, assets\less\style.less */
.main .sun {
  top: 95px;
  display: block;
  width: 440px;
  height: 4px;
  background: #FFF;
}
/* line 93, assets\less\style.less */
.main strong {
  position: absolute;
  top: 98px;
  color: #FFF;
  font-size: 48px;
  margin-left: 340px;
}
/* line 100, assets\less\style.less */
.main span {
  position: absolute;
  top: 148px;
  color: #FFF;
  font-size: 48px;
  margin-left: 340px;
}
/* line 107, assets\less\style.less */
.main p {
  position: absolute;
  top: 220px;
  color: #FFF;
  font-size: 15px;
  margin-left: 340px;
}
/* line 114, assets\less\style.less */
.main button {
  position: absolute;
  top: 310px;
  margin-left: 340px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  color: #FFF;
  text-decoration: underline;
  font-size: 25px;
}
/* line 124, assets\less\style.less */
.section {
  width: 100%
  height:100%;
}
/* line 128, assets\less\style.less */
.depth {
  width: 100%;
  height: 500px;
}
/* line 132, assets\less\style.less */
.depth h1 {
  text-align: center;
  color: #32965b;
  padding-top: 50px;
}
/* line 137, assets\less\style.less */
.depth p {
  text-align: center;
  color: #32965b;
}
/* line 141, assets\less\style.less */
.slide {
  margin-top: 40px;
  margin-left: 340px;
  position: relative;
}
/* line 146, assets\less\style.less */
.slide ul {
  width: 1206px;
  position: relative;
}
/* line 150, assets\less\style.less */
.slide ul:after {
  display: block;
  content: "";
  clear: both;
}
/* line 155, assets\less\style.less */
.slide li {
  float: left;
  margin-left: 12px;
}
/* line 159, assets\less\style.less */
.prev {
  top: 45%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: 0;
  position: absolute;
  left: 15px;
}
/* line 167, assets\less\style.less */
.prev img {
  width: 25px;
  height: 25px;
  left: 0;
}
/* line 172, assets\less\style.less */
.next {
  top: 45%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: 0;
  position: absolute;
  right: 360px;
}
/* line 180, assets\less\style.less */
.next img {
  width: 25px;
  height: 25px;
}
/* line 184, assets\less\style.less */
.depth2 {
  height: 900px;
}
/* line 187, assets\less\style.less */
.depth2 h1 {
  text-align: center;
  color: #32965b;
  padding-top: 50px;
}
/* line 192, assets\less\style.less */
.depth2 p {
  text-align: center;
  color: #32965b;
}
/* line 196, assets\less\style.less */
.depth2 ul {
  padding-top: 47px;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
/* line 202, assets\less\style.less */
.depth2 li {
  float: left;
  margin-left: 13px;
  margin-bottom: 10px;
}
/* line 207, assets\less\style.less */
.mint {
  position: relative;
}
/* line 210, assets\less\style.less */
.mint h3 {
  font-size: 30px;
  color: #FFF;
  position: absolute;
  top: 80px;
  margin-left: 210px;
}
/* line 217, assets\less\style.less */
.mint p {
  position: absolute;
  font-size: 14px;
  color: #FFF;
  top: 120px;
  margin-left: 120px;
}
/* line 224, assets\less\style.less */
.mint button {
  position: absolute;
  font-size: 15px;
  color: #FFF;
  top: 170px;
  margin-left: 300px;
  border: none;
}
/* line 233, assets\less\style.less */
.depth3 {
  height: 700px;
}
/* line 236, assets\less\style.less */
.depth3 h1 {
  text-align: center;
  color: #32965b;
  padding-top: 50px;
}
/* line 241, assets\less\style.less */
.depth3 img {
  margin-left: 340px;
  margin-top: 30px;
}
/* line 3, assets\less\subpage.less */
* {
  margin: 0;
  padding: 0;
}
/* line 4, assets\less\subpage.less */
html,
body {
  height: 100%;
}
/* line 5, assets\less\subpage.less */
ul {
  list-style: none;
}
/* line 6, assets\less\subpage.less */
a {
  text-decoration: none;
}
/* line 8, assets\less\subpage.less */
.photo {
  width: 100%;
  height: 463px;
}
/* line 12, assets\less\subpage.less */
.photo img {
  padding-top: 10px;
  padding-left: 348px;
}
/* line 16, assets\less\subpage.less */
.title {
  margin-left: 350px;
  margin-top: 30px;
}
/* line 20, assets\less\subpage.less */
.title span {
  font-weight: bold;
  text-decoration: underline;
}
/* line 24, assets\less\subpage.less */
.title i {
  font-style: normal;
}
/* line 27, assets\less\subpage.less */
.sub {
  width: 250px;
  height: 700px;
  margin-top: 15px;
  margin-left: 350px;
}
/* line 33, assets\less\subpage.less */
.sub span {
  display: block;
  margin-bottom: 1px;
  border: 1px #32965b solid;
  width: 140px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  color: #32965b;
}
/* line 43, assets\less\subpage.less */
.sub .in {
  margin-bottom: 1px;
  border: 3px #32965b solid;
  width: 140px;
  height: 33px;
  text-align: center;
  line-height: 28px;
  color: #32965b;
}
